{% extends 'portfolio/base.html' %}
{% block content %}
<div class="container text-center">
    <h1>Hi, I am Caroline, I have created this little app!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam cum recusandae quasi doloremque at
        molestiae,
        aperiam, voluptates sint iste laboriosam accusamus quae earum incidunt suscipit. Optio cupiditate corporis
        reprehenderit earum, ad consequuntur beatae exercitationem ratione amet ab impedit vero minus int at
        adipisci
        maiores voluptas provident eligendi tenetur ullam ipsum magnam quisquam dicta sed. Repellat in deserunt
        pariatur
        a voluptatem provident dolorum facilis totam accusantium doloribus ratione suscipit nisi ea, delectus nobis
        atque quam minima corporis error unde magnam dolor voluptatibus sed. Consectetur sapiente ratione eos alias
        consequuntur velit debitis maiores soluta totam cum eius nam suscipit iure eligendi quo illo rem deserunt
        sed
        excepturi nemo, ullam ex dignissimos! Eius, deserunt sint ea eum dolores similique facere magni laudantium
        eos,
        placeat vitae quod a nisi sapiente. Adipisci labore culpa aliquid illo quas neque ad dolor, cum ducimus
        deserunt? Aperiam sequi corrupti fugit qui! Assumenda, sint iure quod repellat recusandae error facilis
        debitis
        quos doloremque maxime officiis ipsa perferendis magnam quisquam cupiditate nisi sapiente eius perspiciatis!
        Molestias minima voluptatum ipsum maiores perspiciatis eos unde ad hic, culpa tenetur vero animi laudantium
        mollitia consequuntur ducimus doloremque rem. Dolorum quo similique dolores explicabo, nobis tempora saepe
        omnis
        eaque, cumque iure repellat voluptatum ipsam officiis nisi pariatur ad quae perferendis error veniam
        inventore
        accusamus quia dolor sequi. Placeat dolorum culpa sapiente natus eius autem non eligendi praesentium
        aliquid? Ea
        vel molestias ut corrupti neque mollitia nemo dignissimos placeat delectus odit error quas quisquam impedit
        iure
        earum eius, dolores porro ipsam nobis magnam omnis iste quasi sequi reiciendis. In non fuga repellendus sed
        quam
        magni sunt, mollitia possimus expedita ducimus voluptatem ipsam vero alias, sint obcaecati adipisci
        accusamus!
        Facere quasi dolores voluptatem repudiandae, culpa cupiditate illum quibusdam eaque, fugit laudantium cumque
        a
        veritatis temporibus? Doloribus minima tempore vero sunt sapiente ducimus temporibus quos necessitatibus
        asperiores, eligendi unde quaerat itaque veritatis laborum aperiam dolores odit eaque beatae recusandae?
        Sint
        dignissimos possimus quidem. Hic, a! Architecto adipisci aspernatur ullam, at consectetur quae veniam,
        eveniet
        placeat praesentium vel deleniti repudiandae iste eaque mollitia assumenda molestias optio facilis
        reiciendis
        quibusdam quidem explicabo minus debitis distinctio. Temporibus nisi neque fugiat illum harum dolores
        aspernatur
        hic omnis a at itaque quae cupiditate minima ipsam, velit similique odit reiciendis commodi accusamus
        suscipit.
        Officiis est eos mollitia necessitatibus nesciunt suscipit aspernatur ut facilis, voluptates nihil possimus
        consectetur at magnam molestiae quibusdam nulla minus id eaque tempora iste hic? Dolores perspiciatis rerum,
        architecto dignissimos doloribus veritatis nihil modi obcaecati accusantium aliquam quibusdam magni harum,
        exercitationem cumque molestias commodi quidem quae cum corrupti enim ducimus qui quisquam. Omnis expedita
        dolorum similique maxime odio sapiente unde maiores reiciendis quod eaque incidunt, quae eum reprehenderit
        nulla
        distinctio dolores magni velit commodi modi dolore, quam ab. Quo numquam eveniet et nesciunt? Deserunt quis
        ut
        asperiores debitis optio quae iste nobis alias nihil. Minima deleniti qui dolore dolorem. Eaque, doloribus
        fuga
        rerum enim reprehenderit similique ea voluptatum eos sit. Veritatis vitae officia est exercitationem qui
        quis
        corrupti nam asperiores totam harum corporis autem doloremque, fuga magnam fugiat itaque necessitatibus
        fugit.
        Saepe, atque mollitia totam facere omnis ipsam quibusdam similique ipsa nostrum officia, quas ab accusantium
        asperiores earum at, corrupti quis dolorum facilis quidem harum. Quod, ad!</p>
    <div><a class="btn btn-outline-success btn-sm" href="{% url 'generator' %}">go back to password generator</a></div>

</div>
{% endblock %}