body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background-color:rgb(231, 241, 235);
    font-family: 'Ubuntu', sans-serif
}
h1{
    font-family: 'Pacifico', cursive;
}
.pointer:hover {
    color: blue;
    cursor: pointer;
}